$block: '.todo-item';

#{$block} {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-bottom: 1px solid var(--g-color-base-generic);

  &:last-child {
    border-bottom: none;
  }

  &__text {
    
    &_through {
      text-decoration: line-through;
    }
  }
}